

#staffList > li
{
    display:block;
    float: left;
    width: 100px;
    height: 100px;
    background: #808080;
    margin: 0 5px 5px 0;
}

    #staffList > li > label
    {
        display:block;
        height: 100%;
        height: 100%;
    }

#staffList > li > input[type="radio"]
{
    position: absolute;
   top: -9999px;
   left: -9999px;
    
}

    #staffList > li > input[type="radio"]:checked + label
    {
        background: red;
            
    }